.Icon {
  font-size: 30px;
  margin-left: 10px;
	vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
