/**
 * Left Sidebar
 */

 //.Inbox-sidebar-left {}


 /**
  * Filter
  */

.Filter {
  border-bottom: solid 1px #DFE9F2;
  border-right: solid 1px #DFE9F2;
  display: flex;
}

.Filter-settings {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 22px 25px 15px 25px;
}

.Filter-search {
  display: flex;
  max-width: 360px;
  min-width: 160px;
  padding: 22px 25px 15px 15px;
}

@media (max-width: 700px) {
 .Filter-search {
   display: none;
 }
}

.Filter-input {
  border: 0;
  font-size: $font-size--xs;
  outline: none;
  padding: 0 0 0 0.5rem;
  width: 360px;
}

/**
 * Conversations
 */

.Conversations {
  border-right: solid 1px #DFE9F2;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.Conversation {
  background: #F6F9FB;
  border-bottom: solid 1px #DFE9F2;
  display: flex;
  list-style: none;
  position: relative;
  width: 100%;
}

.Conversation--unread {
  background: $color--white;
}

.Conversation--active {
  background: rgba(74, 140, 255, 0.1);
  border-right: solid 2px #4A8CFF;
}

.Conversation-avatar {
  padding: 15px;
}

.Conversation-message {
  padding: 15px 0;
  width: 100%;
  flex-direction: column;
}

@media (max-width: 700px) {
  .Conversation-message {
    display: none;
  }
}

.Conversation-subject {
  font-size: $font-size--s;
  font-weight: $font-weight-bold;
  margin-right: 20px;
}

.Conversation-timestamp {
  display: inline-block;
  float: right;
  font-size: $font-size--xxs;
  margin: 6px 10px 0px 0;
}

.Conversation-excerpt {
  font-size: $font-size--xs;

  span {
    font-weight: 600;
  }
}

.Conversation-details {

}

.Conversation-inner {
  display: flex;
  overflow: hidden;
  position: relative;
  height: 100%;
}

.Conversation-helper {
  width: 20px;
  position: absolute;
  background: gray;
  right: 0;
  height: 100%;
}

.Conversation-actions {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  overflow: hidden;

  i {
    color: $color--gray-dark;
  }
}

.Conversation-actions__container {
  height: 100%;
}

.Conversation-actions__helper{
    height:100%;
    width:100%;
    background-color: $color--white;
    right:0;
    position:absolute;
}

.Conversation-actions__links{
    height:100%;
    width: 100%;
    background-color: $color--white;
    position: absolute;
    margin:0;
    padding:0;
    top: 0;

  a {
    float: right;
  }
}

.Conversation-actions__container:hover .Conversation-actions__helper {
  -webkit-transform: translateX(-100%);
 transform: translateX(-100%);
}

.Conversation-actions__container .Conversation-actions__helper {
   transition: all 0.2s ease-in-out;
}
