/**
 * Right Sidebar
 */

 .Inbox-sidebar-right {
  border-left: solid 1px #DFE9F2;
}

/**
 * User Card
 */

.Card {
  border-bottom: solid 1px #DFE9F2;
  text-align: center;
  padding: 30px;
}

.Card-name {
  color: $color--darker;
  font-size: $font-size--l;
  margin-top: 10px;
}

.Card-location {
  font-size: $font-size--xs;
  margin-top: 10px;

  i {
    color: $color--brand-blue;
  }
}

.Card-description {
  color: $color--gray-dark;
  font-size: $font-size--xs;
  margin-top: 10px;
}

/**
 * Media and Attachments
 */

.Media {
  padding: 30px;
}

.Media-container {
}

// For prototype purposes only

.Media-img {
  background: #F6F9FB;
  float: left;
  height: 100px;
  margin-bottom: 20px;
  width: 45%;

  &:nth-child(even) {
    margin-left: 20px;
  }
}

@media (max-width: 1044px) {
  .Media-img {
    display: block;
    margin: 0 0 20px 0;
    width: 100%;

    &:nth-child(even) {
      margin-left: 0;
    }
  }
}
