/**
 * InboxMessages
 */

.InboxMessages {
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px 20px 220px 20px;
}

.InboxMessage {
  display: flex;
  max-width: 550px;
}

@include until($tablet) {
 .InboxMessage .Avatar {
   display: none;
 }
}

.InboxMessage-content {
  margin: 0 15px;
}

.InboxMessage-bubble {
  border-radius: 10px;
  font-size: $font-size--s;
  margin-bottom: 15px;
  padding: 20px;

  ul {
    margin: 0 0 20px 30px;
  }
}

.InboxMessage-bubble--right {
  display: inline-block;
  background: $color--brand-blue;
  color: $color--white;
  clear: right;
  float: right;
}

.InboxMessage-bubble--left {
  background: $color--gray-lightest;
  color: $color--gray-dark;
  display: inline-block;
}

.InboxMessage-bubble-attachment {
  background: $color--white;
  border: solid 1px $color--gray-lighter;
  color: $color--gray-dark;
}

@include until($tablet) {
  .InboxMessage-bubble--left {
    margin-left: 0;
 }

   .InboxMessage-bubble--right{
     margin-right: 0;
  }

  .InboxMessage-bubble-attachment {
    background: $color--white;
    border: solid 1px $color--gray-lighter;
    color: $color--gray-dark;
  }
}

.InboxLoading-bubble {
  background: #F6F9FB;
  border-radius: 10px;
  color: $color--gray-dark;
  display: flex;
  flex-direction: column;
  padding: 0 20px 20px 20px;

  p {
    margin: 0;
    font-size: $font-size--xxl;
  }
}

@include until($tablet) {
  .Loading-bubble {
    margin-left: 0;
 }
}

.InboxMessage-timestamp {
  color: $color--gray-light;
  font-size: $font-size--xs;
  display: block;
}

.InboxMessage-interest {
  margin-left: 55px;
  max-width: 550px;

  p {
    font-size: $font-size--xs;
    font-style: italic;
  }
}

.InboxMessage-button-group {
    display: inline-block;
    margin-top: 10px;

    button {
      margin-top: 8px;
    }

}

@include until($tablet) {
  .InboxMessage-interest {
    margin-left: 15px;
  }
}
