/**
 * Main message area
 */

 .Inbox-main {
  background: $color--white;
}

/**
 * Detaials
 */

.Details {
  align-items: center;
  border-bottom: solid 1px #DFE9F2;
  display: flex;
  justify-content: space-between;
  max-height: 62px;
  min-height: 62px;
  padding: 10px 0 11px 15px;
}

@media (max-width: 700px) {
 .Details-identity {
   display: none;
 }
}

.Details-name {
  font-size:  $font-size--xs;
  margin-left: 10px;
}

.Details-subject {
  font-weight: $font-weight-bold;
}

.Details-icons div {
  display: inline-block;
  padding: 20px 10px 10px 10px;
  max-height: 63px;
  min-height: 62px;
  vertical-align: middle;

  i {
    cursor: pointer;
  }
}

.Details-toggle {
  border-left: solid 1px #DFE9F2;

  i {
    padding: 0 7px 0 7px;
  }
}

@media (max-width: 900px) {
 .Details-toggle {
   display: none !important;
 }
}

/**
 * Messages
 */

.Messages {
  border-bottom: solid 1px #DFE9F2;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 30px;
}

.Message {
  display: flex;
  max-width: 550px;
}

@media (max-width: 700px) {
 .Message div.Avatar {
   display: none;
 }
}

.Message-bubble {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: $font-size--s;
  padding: 20px;
}

.Message-bubble--blue {
  background: #4A8CFF;
  color: $color--white;
  margin-right: 20px;
}

.Message-bubble--grey {
  background: #F6F9FB;
  color: $color--gray-dark;
  margin-left: 20px;
}

@media (max-width: 700px) {
  .Message-bubble--grey {
    margin-left: 0;
 }

   .Message-bubble--blue {
     margin-right: 0;
  }
}

.Loading-bubble {
  background: #F6F9FB;
  border-radius: 10px;
  color: $color--gray-dark;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  padding: 0 20px 20px 20px;

  p {
    margin: 0;
    font-size: $font-size--xxl;
  }
}

@media (max-width: 700px) {
  .Loading-bubble {
    margin-left: 0;
 }
}

.Message-timestamp {
  color: inherit;
  font-size: $font-size--xs;
}


/**
 * Compose Message
 */


.Compose {
  min-height: 190px;
  max-height: 190px;
  padding: 20px;

  i {
    cursor: pointer;
  }

}

.Compose-container {
  display: flex;
}

.Compose-textarea {
  border: 0;
  font-size: $font-size--s;
  outline: none;
  padding: 0 0 0 0.5rem;
  resize: none;
  width: 100%;
}

// JS Hook - When Collapse icon is clicked rotate 180 degrees
.rotate {
  transform: rotate(-180deg);
}





@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.saving span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.saving span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}
