.Inbox {
  display: flex;
  height: 100vh;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

.Inbox-container-left {
  flex: 0 0 25%;
  max-width: 420px;
  min-width: 240px;
}

@include until($tablet) {
  .Inbox-container-left {
    flex-basis: 74px;
    min-width: 74px;
  }
}

.Inbox-container-right {
  display: flex;
  flex: 3;
  flex-direction: column;
  min-width: 0;
}

.Inbox-container-main {
  display: flex;
  flex: 1 1 0%;
}

.InboxMain {
  flex: 2 0 0%;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
}

.InboxSidebar-right {
  flex: 0 2 33.33%;
  max-width: 420px;
  min-width: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

@include until($small-screen) {
  .InboxSidebar-right {
    display: none;
  }
}
