<div class="Card">
    <div class="Card-avatar">
        <div class="Avatar Avatar--square Avatar--m" style="background: #2258FF;" title="Harry Cresswell">
            <div class="Avatar--initials">SS</div>
        </div><!-- /.Avatar -->
    </div><!-- /.Card-avatar -->

    <div class="Card-name">Super Startup</div><!-- /.Card-name -->

    <div class="Card-link">
        <a href="#">View Pitch</a>
    </div><!-- /.Card-link -->

    <div class="Card-status">
      <p>Do you want to connect?</p>
    </div><!-- /.Card-status -->

    <div class="Card-button">
      <button class="Button Button--primary Button--m u-w100">I'm Interested</button>
    </div><!-- /.Card-button -->

    <div class="Card-button">
      <button class="Button Button--secondary Button--m u-w100">Not Interested</button>
    </div><!-- /.Card-button -->
    
</div><!-- /.Card -->
