<div class="Card">
    <div class="Card-avatar">
        <div class="Avatar Avatar--round Avatar--m" style="background: #1B202F;" title="Harry Cresswell">
            <div class="Avatar--initials">JW</div>
        </div><!-- /.Avatar -->
    </div><!-- /.Card-avatar -->
    <div class="Card-name">Jim Wolfe</div><!-- /.Card-name -->
    <div class="Card-link">
        <a href="#">View Profile</a>
    </div><!-- /.Card-link -->
    <div class="Card-status">
      <p>Update project status</p>
    </div><!-- /.Card-status -->
    <div class="Card-select">
      <div class="Select Select--default Select--m">
    				<select>
      					<option value="">Option 1</option>
      					<option value="">Option 2</option>
      					<option value="">Option 3</option>
      					<option value="">Option 4</option>
      					<option value="">Option 5</option>
    				</select>
  			</div><!-- /.Select -->
    </div>
    <div class="Card-button">
      <button class="Button Button--primary Button--m u-w100">View Profile</button>
    </div><!-- /.Card-button -->
</div><!-- /.Card -->
