<div class="Card">
    <div class="Card-avatar">
        <div class="Avatar Avatar--square Avatar--m" style="background: #2258FF;" title="Harry Cresswell">
            <div class="Avatar--initials">SS</div>
        </div><!-- /.Avatar -->
    </div><!-- /.Card-avatar -->
    <div class="Card-name">Super Startup</div><!-- /.Card-name -->
    <div class="Card-link">
        <a href="#">View Pitch</a>
    </div><!-- /.Card-link -->
    <div class="Card-description">
      <p>One of the fastest growing British ski apparel companies - £830k revenues, 59% growth. £320k of committed…</p>
    </div><!-- /.Card-description -->
    <div class="Card-status">
      <p>Update project status</p>
    </div><!-- /.Card-status -->
    <div class="Card-select">
      <div class="Select Select--default Select--m">
    				<select>
      					<option value="">Option 1</option>
      					<option value="">Option 2</option>
      					<option value="">Option 3</option>
      					<option value="">Option 4</option>
      					<option value="">Option 5</option>
    				</select>
  			</div><!-- /.Select -->
    </div>
    <div class="Card-button">
      <button class="Button Button--primary Button--m u-w100">Update</button>
    </div><!-- /.Card-button -->
</div><!-- /.Card -->
