<div class="Card">
  
    <div class="Card-avatar">
        <div class="Avatar Avatar--round Avatar--m" style="background: #1B202F;" title="Harry Cresswell">
            <div class="Avatar--initials">PB</div>
        </div><!-- /.Avatar -->
    </div><!-- /.Card-avatar -->

    <div class="Card-name">Philip Bradley</div><!-- /.Card-name -->

    <div class="Card-link">
        <a href="#">View Profile</a>
    </div><!-- /.Card-link -->

    <div class="Card-status">
      <p>Connection status</p>
    </div><!-- /.Card-status -->

    <div class="Card-select">
        <div class="Select Select--default Select--m">
      				<select>
                <option value="">New</option>
                <option value="">Messaging</option>
                <option value="">In Discussions</option>
                <option value="">Reviewing Document</option>
                <option value="">Phone Call</option>
                <option value="">Meeting</option>
                <option value="">Due Diligence</option>
                <option value="">Offer Made</option>
                <option value="">Contract</option>
                <option value="">Invested</option>
                <option value="">No Longer Interested</option>
      				</select>
  			</div><!-- /.Select -->
    </div><!-- /.Card-select -->

    <div class="Card-button">
      <button class="Button Button--primary Button--m u-w100">Update</button>
    </div><!-- /.Card-button -->

</div><!-- /.Card -->
