<div class="InboxCard">
    <div class="InboxCard-avatar">
        <div class="Avatar Avatar--square Avatar--m" style="background: #2258FF;" title="Harry Cresswell">
            <div class="Avatar--initials">SS</div>
        </div><!-- /.Avatar -->
    </div><!-- /.Card-avatar -->

    <div class="InboxCard-name">Super Startup</div><!-- /.Card-name -->

    <div class="InboxCard-link">
        <a href="#">View Pitch</a>
    </div><!-- /.Card-link -->

    <div class="InboxCard-status">
      <p>Do you want to connect?</p>
    </div><!-- /.Card-status -->

    <div class="InboxCard-button">
      <button class="Button Button--primary Button--m u-w100">I'm Interested</button>
    </div><!-- /.Card-button -->

    <div class="InboxCard-button">
      <button class="Button Button--secondary Button--m u-w100">Not Interested</button>
    </div><!-- /.Card-button -->

</div><!-- /.Card -->
