<nav class="Inbox-sidebar-left">
    <div class="Filter">
        <div class="Filter-search">
            <i class="material-icons md-24">search</i>
            <input class="Filter-input" type="text" name="search" placeholder="Search Inbox...">
        </div><!-- /.Filter-search -->
        <div class="c-nav__item Filter-settings">
            <i class="material-icons md-24">tune</i>
            {{ partial "dropdown-filter-messages.html" . }}
        </div><!-- /.Filter-settings -->
    </div><!-- /.Filter -->

    <div class="Conversations" role="navigation">
        <ul class="Conversations-list">
            <li class="Conversation Conversation--unread">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Jim Wolf">
                        <div class="Avatar--initials">JW</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Jim Wolfe</span>
                        <div class="Conversation-timestamp">2.30pm</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation Conversation--active">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                        <div class="Avatar--initials">PB</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Philip Bradley</span>
                        <div class="Conversation-timestamp">2.30pm</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation Conversation--unread">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Julian McCarthy">
                        <div class="Avatar--initials">JM</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Julian McCarthy</span>
                        <div class="Conversation-timestamp">2.30pm</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation Conversation--unread">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Clarence Berry">
                        <div class="Avatar--initials">CB</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Clarence Berry</span>
                        <div class="Conversation-timestamp">1.15pm</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Seth Curtis">
                        <div class="Avatar--initials">SC</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Seth Curtis</span>
                        <div class="Conversation-timestamp">Yesterday</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Adrian Medina">
                        <div class="Avatar--initials">Am</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Adrian Medina</span>
                        <div class="Conversation-timestamp">Yesterday</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Alan Phillips">
                        <div class="Avatar--initials">AP</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Alan Phillips</span>
                        <div class="Conversation-timestamp">Jul 19</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Ronnie Fitz">
                        <div class="Avatar--initials">RF</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Ronnie Fitz</span>
                        <div class="Conversation-timestamp">Jul 18</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Max Rogers">
                        <div class="Avatar--initials">MR</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Max Rogers</span>
                        <div class="Conversation-timestamp">Jul 17</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Inez Perkins">
                        <div class="Avatar--initials">IP</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Inez Perkins</span>
                        <div class="Conversation-timestamp">Jul 14</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Winnie Marshall">
                        <div class="Avatar--initials">WM</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Winnie Marshall</span>
                        <div class="Conversation-timestamp">Jul 13</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Teresa Thomas">
                        <div class="Avatar--initials">TT</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Teresa Thomas</span>
                        <div class="Conversation-timestamp">Jul 10</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Howard Robertson">
                        <div class="Avatar--initials">HR</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Howard Robertson</span>
                        <div class="Conversation-timestamp">Jul 10</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Marguerite Lucas">
                        <div class="Avatar--initials">ML</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Marguerite Lucas</span>
                        <div class="Conversation-timestamp">Jul 08</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <li class="Conversation">
                <div class="Conversation-avatar">
                    <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Leila Jensen">
                        <div class="Avatar--initials">LJ</div>
                    </div><!-- /.Avatar -->
                </div><!-- /.Conversation-avatar -->

                <div class="Conversation-message">
                    <div class="Converstaion-details">
                        <span class="Conversation-subject">Leila Jensen</span>
                        <div class="Conversation-timestamp">2.30pm</div>
                    </div>
                    <div class="Conversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                </div><!-- /.Conversation-message -->

            </li><!-- /.Conversation -->

            <div class="u-paddingTop--s u-paddingBottom--s">
                <div class="Loading"></div>
            </div>

        </ul><!-- /.Conversation-list -->
    </div><!-- /.Conversations -->
</nav><!-- /.Sidebar-left -->
