<aside class="Inbox-sidebar-right">
  <div class="Card">
      <div class="Card-avatar">
          <div class="Avatar Avatar--round Avatar--m" style="background: #1B202F;" title="Harry Cresswell">
              <div class="Avatar--initials">JW</div>
          </div><!-- /.Avatar -->
      </div><!-- /.Card-avatar -->
      <div class="Card-name">Jim Wolfe</div><!-- /.Card-name -->
      <div class="Card-location">
          <i class="material-icons md-18">location_on</i>
          <span>London,UK</span>
      </div><!-- /.Card-location -->
      <div class="Card-description">
        <p>I started as a developer, moved through technical project…</p>
      </div><!-- /.Card-description -->
      <div class="Card-button">
        <button class="Button Button--secondary Button--m">View Profile</button>
      </div><!-- /.Card-button -->
  </div><!-- /.Card -->
</aside>
