<div class="Inbox-main" role="main">
  <div class="Details">
    <div class="Details-identity">
      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
          <div class="Avatar--initials">JW</div>
      </div><!-- /.Avatar -->
      <span class="Details-name">Jim Wolfe</span>
    </div>
    <div class="Details-subject">Message subject</div>
    <div class="Details-icons">
        <div class="tooltip tooltip-bottom" data-tooltip="Mark Unread">
            <i class="material-icons md-24">markunread</i>
        </div>
        <div class="tooltip tooltip-bottom" data-tooltip="Delete">
            <i class="material-icons md-24">delete</i>
        </div>
        <div class="Details-toggle">
            <i id="toggle" class="icon-rotate material-icons md-24">keyboard_arrow_right</i>
        </div>
    </div>
  </div>
  <div class="Messages">
      <div class="Message">
        <div>
            <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                <div class="Avatar--initials">JW</div>
            </div><!-- /.Avatar -->
        </div>
          <div class="Message-bubble Message-bubble--grey">
              <p>Hi Jim,</p>
              <p>I think you might be a good fit for our latest project…</p>
              <p><a href="#">Super Startup</a> is of the fastest growing British ski apparel companies - £830k revenues, 59% growth. £320k of committed wholesale orders for 17/18 (88% of budget) - EIS .</p>
                <ul>
                  <li>Target:	£600,000</li>
                  <li>Minimum:	£20,000</li>
                  <li>Investment Raised:	£330,000</li>
                  <li>Previous Rounds:	£325,000</li>
                  <li>Stage:	Achieving Sales</li>
                  <li>Investor Role:	Any</li>
                </ul>
              <span class="Message-timestamp">2.30pm</span>
          </div>
      </div><!-- /.Message -->


      <div class="cf">
          <div class="u-marginTop--s">
            <div class="Message-interest">
                <p> Hit "I'm interested" to connect Paula. If this one’s not for you and you don't wish to be contacted again click "Not interested".</p>

                <div class="Message-button-group">
                    <div class="tooltip tooltip-top" data-tooltip="I'm Interested">
                        <button class="Icon Icon--m Button Button--secondary"><i class="material-icons md-14">thumb_up</i></button>
                    </div>
                    <div class="tooltip tooltip-top" data-tooltip="Not Interested">
                        <button class="Icon Icon--m Button Button--secondary"><i class="material-icons md-14">thumb_down</i></button>
                    </div>
                </div>
            </div><!-- /.Message-interest -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->

  </div>
  <div class="Compose">
    <div class="Compose-container">
        <textarea class="Compose-textarea" type="text" name="" placeholder="Start typing..."></textarea>
        <div class="tooltip tooltip-top" data-tooltip="Attach">
          <i class="material-icons md-24">attach_file</i>
        </div>
    </div><!-- /.Compose-container -->
    <div class="cf">
      <div class="u-pull-right">
        <button class="Button Button--primary Button--m">Send</button>
      </div>
    </div>
  </div><!-- /.Compose -->
</div>
