<div class="InboxMain" role="main">
  <div class="InboxDetails">
    <div class="InboxDetails-identity">
      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
          <div class="Avatar--initials">PB</div>
      </div><!-- /.Avatar -->
      <span class="InboxDetails-name">Philip Bradley</span>
    </div>
    <div class="InboxDetails-subject">Super Startup</div>
    <div class="InboxDetails-icons">
        <div class="Tooltip Tooltip--bottom" data-tooltip="Mark Unread">
            <i class="material-icons md-24">markunread</i>
        </div>
        <div class="Tooltip Tooltip--bottom" data-tooltip="Delete">
            <i class="material-icons md-24">delete</i>
        </div>
        <div class="InboxDetails-toggle">
            <i id="toggle" class="js-rotate material-icons md-24">keyboard_arrow_right</i>
        </div>
    </div>
  </div>
  <div class="Messages">
      <div class="Message">
        <div class="Message-avatar">
            <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                <div class="Avatar--initials">PB</div>
            </div><!-- /.Avatar -->
        </div>
        <div class="Message-content">
            <div class="Message-bubble Message-bubble--left">
                <p>Hi Harry, I’m interested in finding out more about your project.</p>
            </div><!-- /.Message-bubble -->
            <div class="Message-bubble Message-bubble--left">
                <p>Do you have any more info you could send me?</p>
            </div><!-- /.Message-bubble -->
            <span class="Message-timestamp">2.30pm</span>
        </div><!-- /.Message-content -->
    </div><!-- /.Message -->

      <div class="cf">
          <div class="u-marginTop--s">
              <div class="Message u-pull-right">
                  <div class="Message-content">
                      <div class="Message-bubble Message-bubble--right">
                          <p>Hi Philip, thanks for getting in touch. We are excited to discuss the project with you further. When would be a good time to arrange a call with you?</p>
                      </div><!-- /.Message-bubble -->
                      <span class="Message-timestamp">6 mins ago</span>
                  </div><!-- /.Message-content -->
                  <div class="Message-avatar">
                      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                          <div class="Avatar--initials">HC</div>
                      </div><!-- /.Avatar -->
                  </div>
              </div><!-- /.Message -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->

      <div class="cf">
          <div class="u-marginTop--s">
              <div class="Message">
                  <div class="Message-avatar">
                      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                          <div class="Avatar--initials">PB</div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Message-avatar -->
                  <div class="Message-content">
                      <div class="Message-bubble Message-bubble--left">
                          <p>Does 2.30pm work for you?</p>
                      </div><!-- /.Message-bubble -->
                      <span class="Message-timestamp">4 mins ago</span>
                  </div><!-- /.Message-content -->
              </div><!-- /.Message -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->

      <div class="cf">
          <div class="u-marginTop--s">
              <div class="Message u-pull-right">
                  <div class="Message-content">
                      <div class="Message-bubble Message-bubble--right">
                          <p>2.30pm works great!</p>
                      </div><!-- /.Message-bubble -->
                      <span class="Message-timestamp u-pull-right cf">2 mins ago</span>
                  </div><!-- /.Message-content -->
                  <div class="Message-avatar">
                      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                          <div class="Avatar--initials">HC</div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Message-avatar -->
              </div><!-- /.Message -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->

      <div class="cf">
          <div class="u-marginTop--s">
              <div class="Message">
                  <div class="Message-avatar">
                      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                          <div class="Avatar--initials">PB</div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Message-avatar -->
                  <div class="Message-content">
                      <div class="Message-bubble Message-bubble--left">
                          <p>Do you have a copy of your pitch deck?</p>
                      </div><!-- /.Message-bubble -->
                      <span class="Message-timestamp">1 mins ago</span>
                  </div><!-- /.Message-content -->
              </div><!-- /.Message -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->

      <div class="cf">
          <div class="u-marginTop--s">
              <div class="Message u-pull-right">
                  <div class="Message-content">
                      <div class="Message-bubble Message-bubble--right">
                          <p>Sure thing, here you go</p>
                      </div><!-- /.Message-bubble -->
                      <div class="Message-bubble Message-bubble--right Message-bubble-attachment">
                          <a href="#"><img src="{{ .Site.BaseURL }}images/graphic-document-sheet.png" srcset="{{ .Site.BaseURL }}images/graphic-document-sheet.png 1x, {{ .Site.BaseURL }}images/graphic-document-sheet@2x.png 2x, {{ .Site.BaseURL }}images/graphic-document-sheet@3x.png 3x" alt="pitch deck"></a>
                      </div><!-- /.Message-bubble -->
                      <span class="Message-timestamp u-pull-right cf">2 mins ago</span>
                  </div><!-- /.Message-content -->
                  <div class="Message-avatar">
                      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                          <div class="Avatar--initials">HC</div>
                      </div><!-- /.Avatar -->
                  </div><!-- /.Message-avatar -->
              </div><!-- /.Message -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->


      <div class="cf">
          <div class="u-marginTop--s">
              <div class="Message">
                  <div>
                      <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                          <div class="Avatar--initials">PB</div>
                      </div><!-- /.Avatar -->
                  </div>
                  <div class="Loading-bubble">
                      <p class="saving"><span>.</span><span>.</span><span>.</span></p>
                  </div>
              </div><!-- /.Message -->
          </div><!-- /.u-marginTop-s -->
      </div><!-- /.cf -->

  </div>
  <div class="InboxCompose">
    <div class="InboxCompose-container">
        <textarea class="InboxCompose-textarea" type="text" name="" placeholder="Start typing..."></textarea>
        <div class="Tooltip Tooltip--top" data-tooltip="Attach">
          <i class="material-icons md-24">attach_file</i>
        </div>
    </div><!-- /.Compose-container -->
    <div class="cf">
      <div class="u-pull-right">
        <button class="Button Button--primary Button--m">Send</button>
      </div>
    </div>
  </div><!-- /.Compose -->
</div>
