<div class="InboxMedia">
  <h4>Media &amp; Attachments</h4>
  <div class="InboxMedia-container u-marginTop--s">
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
    <div class="InboxMedia-img"></div>
  </div>
</div><!-- /.Media -->
