<nav class="InboxSidebar-left">
    <div class="InboxFilter">
        <div class="InboxFilter-search">
            <i class="material-icons md-24">search</i>
            <input class="InboxFilter-input" type="text" name="search" placeholder="Search Inbox...">
        </div><!-- /.Filter-search -->
        <div class="InboxFilter-settings">
            <i class="material-icons md-24">tune</i>
            {{ partial "inbox-filter-content.html" . }}
        </div><!-- /.Filter-settings -->
    </div><!-- /.Filter -->

    <div class="InboxConversations" role="navigation">
        <ul class="InboxConversations-list">
            <li class="InboxConversation InboxConversation--unread">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Jim Wolf">
                            <div class="Avatar--initials">JW</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Jim Wolfe</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation InboxConversation--active">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Harry Cresswell">
                            <div class="Avatar--initials">PB</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Philip Bradley</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation InboxConversation--unread">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Julian McCarthy">
                            <div class="Avatar--initials">JM</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Julian McCarthy</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->
            </li><!-- /.InboxConversation -->

            <li class="InboxConversation InboxConversation--unread">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Clarence Berry">
                            <div class="Avatar--initials">CB</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Clarence Berry</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->
            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                      <div class="InboxConversation-avatar">
                          <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Seth Curtis">
                              <div class="Avatar--initials">SC</div>
                          </div><!-- /.Avatar -->
                      </div><!-- /.InboxConversation-avatar -->

                      <div class="InboxConversation-message">
                          <div class="InboxConversation-details">
                              <span class="InboxConversation-subject">Seth Curtis</span>
                          </div>
                          <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                      </div><!-- /.InboxConversation-message -->
                  </div><!-- /.InboxConversation-inner -->

                  <div class="InboxConversation-actions js-reveal">
                      <div class="InboxConversation-timestamp">2.30pm</div>
                      <div class="InboxConversation-icons">
                          <a href="#"><i class="material-icons md-24">markunread</i></a>
                          <a href="#"><i class="material-icons md-24">delete</i></a>
                      </div><!-- /.InboxConversation-icons -->
                  </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Adrian Medina">
                            <div class="Avatar--initials">Am</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Adrian Medina</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Alan Phillips">
                            <div class="Avatar--initials">AP</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Alan Phillips</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Ronnie Fitz">
                            <div class="Avatar--initials">RF</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Ronnie Fitz</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Max Rogers">
                            <div class="Avatar--initials">MR</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Max Rogers</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Inez Perkins">
                            <div class="Avatar--initials">IP</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Inez Perkins</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Winnie Marshall">
                            <div class="Avatar--initials">WM</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Winnie Marshall</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Teresa Thomas">
                            <div class="Avatar--initials">TT</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Teresa Thomas</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                  </div><!-- /.InboxConversation-inner -->

                  <div class="InboxConversation-actions js-reveal">
                      <div class="InboxConversation-timestamp">2.30pm</div>
                      <div class="InboxConversation-icons">
                          <a href="#"><i class="material-icons md-24">markunread</i></a>
                          <a href="#"><i class="material-icons md-24">delete</i></a>
                      </div><!-- /.InboxConversation-icons -->
                  </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Howard Robertson">
                            <div class="Avatar--initials">HR</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Howard Robertson</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                  </div><!-- /.InboxConversation-inner -->

                  <div class="InboxConversation-actions js-reveal">
                      <div class="InboxConversation-timestamp">2.30pm</div>
                      <div class="InboxConversation-icons">
                          <a href="#"><i class="material-icons md-24">markunread</i></a>
                          <a href="#"><i class="material-icons md-24">delete</i></a>
                      </div><!-- /.InboxConversation-icons -->
                  </div><!-- /.InboxConversation-actions -->
            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Marguerite Lucas">
                            <div class="Avatar--initials">ML</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Marguerite Lucas</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                  </div><!-- /.InboxConversation-inner -->

                  <div class="InboxConversation-actions js-reveal">
                      <div class="InboxConversation-timestamp">2.30pm</div>
                      <div class="InboxConversation-icons">
                          <a href="#"><i class="material-icons md-24">markunread</i></a>
                          <a href="#"><i class="material-icons md-24">delete</i></a>
                      </div><!-- /.InboxConversation-icons -->
                  </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <li class="InboxConversation">
                <div class="InboxConversation-inner">
                    <div class="InboxConversation-avatar">
                        <div class="Avatar Avatar--round Avatar--xs" style="background: #1B202F;" title="Leila Jensen">
                            <div class="Avatar--initials">LJ</div>
                        </div><!-- /.Avatar -->
                    </div><!-- /.InboxConversation-avatar -->

                    <div class="InboxConversation-message">
                        <div class="InboxConversation-details">
                            <span class="InboxConversation-subject">Leila Jensen</span>
                        </div>
                        <div class="InboxConversation-excerpt"><span>Super Startup Co.</span> Hi Harry, your pitch…</div>
                    </div><!-- /.InboxConversation-message -->
                </div><!-- /.InboxConversation-inner -->

                <div class="InboxConversation-actions js-reveal">
                    <div class="InboxConversation-timestamp">2.30pm</div>
                    <div class="InboxConversation-icons">
                        <a href="#"><i class="material-icons md-24">markunread</i></a>
                        <a href="#"><i class="material-icons md-24">delete</i></a>
                    </div><!-- /.InboxConversation-icons -->
                </div><!-- /.InboxConversation-actions -->

            </li><!-- /.InboxConversation -->

            <div class="u-paddingTop--s u-paddingBottom--s">
                <div class="Loading"></div>
            </div>

        </ul><!-- /.InboxConversation-list -->
    </div><!-- /.InboxConversations -->
</nav><!-- /.Sidebar-left -->
