<header class="Header">

  <nav role="navigation" class="Nav Nav--primary">

    <div class="Nav-left u-pull-left">
        <a class="Nav-icon" href="#"></a>
    </div>

    <div class="Nav-middle u-pull-left">
        <i class="Icon material-icons md-24">search</i>
        <input class="Nav-search" type="text" name="search" placeholder="Search..">
    </div>

    <div class="Nav-right u-pull-right">
        <ul class="Nav-items">
          <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-link-text">Invest</span><i class="Icon icon-invest"></i></a></li>
          <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-link-text">Fundraise</span><i class="Icon icon-fundraise"></i></a></li>
          <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-link-text">Messages</span><i class="Icon icon-message"></i></a></li>
          <li class="Nav-item"><a class="Nav-link" href="#"><span class="Nav-link-text">Help</span><i class="Icon icon-help"></i></a></li>
          <li class="Nav-item"><a class="notification-indicator-user-avatar" href="#"><span class="notification-indicator"></span><div class="user-avatar"></div></a></li>
        </ul>
        <ul class="dropdown-menu">
          <li class="dropdown-menu__item"><a class="dropdown-menu__link notification-indicator-user-avatar" href="#"><span class="notification-indicator"></span><div class="user-avatar"></div></a></li>
        </ul>
    </div>
  </nav>
</header>
<!-- /header -->
